@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: #1A181A;
    --background2: #7D553C;
    --foreground: #FFFFFF;
    --accent: #E68C3D;
    --terminal-font-color: #283127;
}

body {
    margin: 0 auto;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--foreground);
}

p {
    line-height: 2rem;
}

.content {
    padding: 3rem 3rem;
}

.nav-links {
    padding: 1rem;
    width: 100%;
    background-color: var(--background2);
}

.nav-links a {
    padding: 0 2rem;
    color: var(--foreground);
    text-decoration: none;
}

.ascii-art {
    opacity: 1;
    white-space: pre;
    line-height: 1.2;
    color: var(--accent);
}

.ascii-art::after {
  content: '█';
  animation: blink 1.5s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.ascii-art.fadeOut {
    animation: fadeOut 1.5s 3s forwards;
}

@keyframes fadeOut {
    to { opacity: 0; }
}

.terminal-text {
    font-size: 1rem;
    line-height: 0;
    color: var(--terminal-font-color);
}
