@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --background: #1A181A;
    --background2: #7D553C;
    --foreground: #FFFFFF;
    --sub-foreground: #686868;
    --accent: #E68C3D;
    --terminal-font-color: #283127;
    --button-clicked: #E6E6E6;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--foreground);
}

p {
    line-height: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px;
    text-decoration-color: var(--accent);
}

img {
    outline: 2px var(--background2);
    outline-style: solid;
    outline-offset: 2px;
}

.nav-links {
    display: none;
}

.nav-links a {
    display: block;
    padding: 1rem 2rem;
    background-color: var(--background2);
    color: var(--foreground);
    border-top: 1px solid var(--accent); 
}


.nav-links a:focus {
    color: var(--button-clicked);
}

.nav-links a::before {
    content: '● ';
    color: var(--accent);
    opacity: 0;
}

.nav-links a.active::before {
    opacity: 1;
}

.content {
    flex: 1;
    padding: 2rem 1rem;
}

.content p {
    flex: 1;
    padding: 0;
    margin: 0;
}

.menuNavBar button, p {
    display: inline-block;
    color: var(--foreground);
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.menuNavBar button {
    background-color: var(--background2);
    border: none;
}

.menuNavBar {
    display: flex;
    justify-content: space-between;
}

.ascii-art {
    opacity: 1;
    white-space: pre;
    line-height: 1.2;
    color: var(--accent);
    min-height: 16em;
}

.ascii-art::after {
  content: '█';
  animation: blink 1.5s step-end infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.ascii-art.fadeOut {
    animation: fadeOut 1.5s 3s forwards;
}

@keyframes fadeOut {
    to { opacity: 0; }
}

.terminal-text {
    font-size: 1rem;
    line-height: 0;
    color: var(--terminal-font-color);
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

:has(.menu[aria-expanded="true"]) .menuNavBar p {
    display: none;
}

:has(.menu[aria-expanded="true"]) .menu {
    width: 100%;
    padding: 0.75rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
}

@media screen and (min-width: 636px) {
    :has(.menu[aria-expanded="true"]) .nav-links {
        display: flex;
    }   

    .nav-links {
        display: flex;
        background-color: var(--background2);
        width: 100%;
    }

    .nav-links a {
        color: var(--foreground);
        border-top: 0; 
    }

    .menuNavBar {
        display: none;
    }

    .content {
        padding: 3rem 3rem;
    }
}
