---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<h1 id="terminal-text-about-me" class="terminal-text">$whoami</h1>
    <h2>> Hi, I'm Valentin, also known as MENDIss! I am a passionate programmer and tech enthusiast.</h2>
    <p class="terminal-text">$cat ./AboutMe.md</p>
    <h3>Why do I do this?</h3>
    <p>Of course, because I love it :). As a kid I always felt attached to electronic devices, computers and just everything related to programming. I really loved to tinker with games, adding files to modify them and to improve overall performance and just seeing how the game  works and what can be changed. 

    But I haven't really gotten into programming until I was about 15 years old (which was in 2022). At that time I have started learning  basics of  python language in school. 
    I have thought about programming before but it felt to me as if you need to be 'the best version of yourself'. 'There are so many people that have gotten into programming or engineering, but haven't succeeded in their career. Why should I succeed then?', I have said to myself. But in the school, when I started learning my first programming language,  which is Python, I have discovered that I have a driving force towards programming and a passion toward everything related with tech.

    I love everything related to PCs, electronics, physics, and overall IT, and I can talk about those topics for a whole day :).</p>
</BaseLayout>