---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="terminal-text">$./Greeting.sh</h1>
	<div>
		<pre id="typewriter" class="ascii-art"></pre>
	</div>
	<p>This website makes it possible for me to publish blogs, document my journey on projects, and share with my experience!</p>
	<script>
		import "../scripts/typewriter.js"
	</script>
</BaseLayout>