---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="terminal-text">$./Greeting.sh</h1>
	<div>
		<pre class="ascii-art">
			__        __  __     ____
			\ \      / / / /__  / / /___
 			 \ \    / /_/ / _ \/ / / __ \ 
			 / /   / __  /  __/ / / /_/ / 
			/_/   /_/ /_/\___/_/_/\____( )
				                       |/
		</pre>
		<pre class ="ascii-art">
			 _       __           __    ____
			| |     / /___  _____/ /___/ / /
			| | /| / / __ \/ ___/ / __  / / 
			| |/ |/ / /_/ / /  / / /_/ /_/  
			|__/|__/\____/_/  /_/\__,_(_)   
		</pre>
	</div>
	<p>This website makes it possible for me to write my own blogs, document on projects, and share with my experience!</p>
</BaseLayout>