---
const currentPath = Astro.url.pathname;
let currentPage;

switch (currentPath) {
    case "/my-website/about":
        currentPage = "About";
        break;
    case "/my-website/projects":
        currentPage = "Projects";
        break;
    case "/my-website/blogs":
        currentPage = "Blogs";
        break;
    default:
        currentPage = "Home";
}
---
<div class="menuNavBar">
    <button aria-expanded="false" aria-controls="main-menu" class="menu">
        Menu
    </button>
    <p><span style="color:var(--accent)">●</span> {currentPage}</p>
</div>
