---
const currentPath = Astro.url.pathname;
---

<div id="main-menu" class="nav-links">
    <a href="/my-website" class={currentPath === 'my-website/' ? 'active' : ''}>Home</a>
    <a href="/about" class={currentPath === 'my-website/about' ? 'active' : ''}>About</a>
    <a href="/projects" class={currentPath === 'my-website/projects' ? 'active' : ''}>Projects</a>
    <a href="/blogs" class={currentPath === 'my-website/blogs' ? 'active' : ''}>Blogs</a>
</div>
