---
const currentPath = Astro.url.pathname;
---

<div id="main-menu" class="nav-links">
    <a href="/" class={currentPath === '/' ? 'active' : ''}>Home</a>
    <a href="/about" class={currentPath === '/about' ? 'active' : ''}>About</a>
    <a href="/projects" class={currentPath === '/projects' ? 'active' : ''}>Projects</a>
    <a href="/blogs" class={currentPath === '/blogs' ? 'active' : ''}>Blogs</a>
</div>
